{template 'common/header'}

{template 'resource'}

<div class="main">
	<ul class="nav nav-tabs">
		<li {if $op=='list' || empty($op)}class="active"{/if}><a href="{php echo $this->createWebUrl('cash',array('op'=>'list'));}">现金流管理</a></li>
		<li {if $op=='edit' && empty($item['id'])}class="active"{/if}><a href="{php echo $this->createWebUrl('cash',array('op'=>'edit'));}">添加现金流</a></li>
		{if $op=='edit' && !empty($item['id'])}<li class="active"><a href="{php echo $this->createWebUrl('cash', array('op'=>'edit','id'=>$id));}">编辑现金流</a></li>{/if}
	</ul>
	<form action="" class="form-horizontal form" method="post" enctype="multipart/form-data" onsubmit="return formcheck()">
		<input type="hidden" name="id" value="{$item['id']}">
		<div class="panel panel-default">
			<div class="panel-heading">
				现金流基本信息
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">现金流名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="name" id="name"  class="form-control" value="{$item['name']}">
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">费用</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" id="money" name="money"  class="form-control" value="{$item['money']}">						<div class="help-block">实际发生的费用</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">收支</label>
					<div class="col-sm-9 col-xs-12">						<label class="radio-inline">							<input type="radio" name="cashtype" value="1" {if intval($item['cashtype']) == 1}checked="checked"{/if}/>支出						</label>						<label class="radio-inline">							<input type="radio" name="cashtype" value="2" {if (intval($item['cashtype'])==2) }checked="checked"{/if}/>收入						</label>					</div>
				</div>								<div class="form-group">					<label class="col-xs-12 col-sm-3 col-md-2 control-label">产生时间</label>					<div class="col-sm-9 col-xs-12">						{php echo tpl_form_field_date('cashtime', $item['cashdate'],true)}					</div>				</div>								<div class="form-group">					<label class="col-xs-12 col-sm-3 col-md-2 control-label">店铺</label>					<div class="col-sm-9 col-xs-12">						<select class='form-control' id="chainid" name="chainid">							<option value='0'>--请选择分店--</option>							{loop $washchar_chains $key $value}								<option value ="{$value['id']}" {if $item['chainid'] == $value['id']}selected="selected"{/if}>{$value['name']}</option>							{/loop}						</select>					</div>				</div>				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">详情</label>
					<div class="col-sm-9 col-xs-12">
						<textarea style="height:100px;" id="description" name="description" class="form-control" cols="60">{$item['description']}</textarea>
						<div class="help-block">最多不超过1024个字符</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
</div>

<script type="text/javascript">

	function search_business() {
		$("#module-menus").html("正在搜索....")
		$.post('{php echo $this->createWebUrl('GetBusiness');}', {
			keyword: $.trim($('#search-kwd').val())
		}, function(dat){
			$('#module-menus').html(dat);
		});
	}

	function select_business(o) {
		$("#businessid").val(o.id);
		$("#hotelbusiness").val( o.title );
		$(".close").click();
	}

	function deletepic(obj){
		if (confirm("确认要删除？")) {
			var $thisob=$(obj);
			var $liobj=$thisob.parent();
			var picurl=$liobj.children('input').val();
			$.post('{php echo $this->createMobileUrl('ajaxdelete',array())}',{ pic:picurl},function(m){
				if(m=='1') {
					$liobj.remove();
				} else {
					alert("删除失败");
				}
			},"html");
		}
	}

	$("#add_device").click(function() {
		var index = $('.device-input').length;
		var html =
			'<div class="col-sm-5" style="margin: 5px 0px;">' +
				'<div class="input-group">' +
					'<span class="input-group-addon">' +
						'<input type="checkbox" name="show_device[' + index + ']" value="1" aria-label="Checkbox for following text input">' +
					'</span>' +
					'<input type="text" name="device[' + index + ']" class="form-control device-input" value="">' +
					'<span class="input-group-btn">' +
						'<button class="btn btn-default" type="button">删除</button>' +
					'</span>' +
				'</div>' +
			'</div>';

		$(this).parent().before(html);
	});

	$('.device-delete').click(function() {
		$(this).parent().parent().parent().remove();
	});


	function del_device(num) {
		$("#add_device_" + num).remove();
	}

	function formcheck() {
		if ($("#name").isEmpty()) {
			Tip.focus("name", "请填写现金流名称!", "right");
			return false;
		}		if (!$("#money").isFloat()) {			Tip.focus("money", "请填写正确的费用!", "right");			return false;		}		if ($("input[name='cashtype']:checked").size()<=0) {			Tip.focus($($("input[name='cashtype']")[0]), "请填选择现金流类型!", "right");			return false;		}		if ($("#chainid").val()=='0') {			Tip.focus("chainid", "请填选择店铺信息!", "right");			return false;		}
		return true;
	}
</script>

{template 'common/footer'}
