
<script type="text/javascript" src='{php echo $this->_script_url}jquery-1.11.1.min.js'></script>

<script type="text/javascript" src='{php echo $this->_script_url}jquery.gcjs.js'></script>

<script type="text/javascript" src='{php echo $this->_script_url}jquery.form.js'></script>

<script type="text/javascript" src='{php echo $this->_script_url}tooltipbox.js'></script>

<!--script type="text/javascript" src='{php echo $this->_script_url}require.js'></script-->

<script type="text/javascript" src='{php echo $this->_script_url}bootstrap.min.js'></script>

<!--script type="text/javascript" src='{php echo $this->_script_url}daterangepicker.js'></script-->

<link href="{php echo $this->_css_url}commonhotel.css" rel="stylesheet"/>
